.about-container {
  display: grid;
  grid-template-columns: 2fr 7fr 2fr;
  grid-template-areas:
    " . main . ";
}
.about-content-container {
  grid-area: main;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-row-gap: 2rem;
  grid-template-areas:
    " .     header header    . "
    "main    main    main    sidebar"
    "footer footer footer footer";

}

.header {
  grid-area: header;
  text-align: center;
  margin-bottom: 0;
}
.main {
  grid-area: main;
  background-color: rgba(255,255,255,0.7);
  border-radius: 8px 0 0 8px;
  & p {
    margin: 16px;
  }
}
.sidebar {
  grid-area: sidebar;
  justify-content: flex-end;
  background-color: rgba(255,255,255,0.7);
  display: flex;
  border-radius: 0 8px 8px 0;
  & img {
    border-radius: 0 8px 8px 0;
  }
}
.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  & a {
    text-decoration: none;
    color: #fff;
    background-color: #BA3756;
    border-radius: 4px;
    font-size: 1.5rem;
    transition: all 0.15s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    height: 4rem;
    &:hover {
      background-color: #EF476F;
      box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
      & img {
        opacity: 1;
        transition: all 0.15s;
      }
    }
    & img {
      height: 40px;
      filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(91deg) brightness(106%) contrast(101%);
      margin-right: 8px;
      opacity: 0.9;
    }
  }
}

@media screen and (max-width: 1050px) {
  .about-container {
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-areas:
      " . main . ";
  }
  .about-content-container {
    grid-template-areas:
    " header  header header   header "
    " .     sidebar sidebar  . "
    "main    main    main  main   "
    "footer footer footer footer";
  }
  .main {
    border-radius: 8px;
  }
  .sidebar {
    display: flex;
    justify-content: center;
    & img {
      width: 200px;
      border-radius: 50%;
    }
  }
}
