<div local-class="item-detail">
    <aside>
        <LinkTo @route={{@backroute}}>Terug</LinkTo>
        <h1>{{@item.title}}</h1>
        <p>{{@item.description}}</p>
    </aside>
    <main>
      <img src={{@item.imageURL}} alt=""/>
    </main>
</div>