<div local-class="item-detail">
    <aside>
        <LinkTo @route={{@backroute}}>Terug</LinkTo>
        <h1>{{@item.title}}</h1>
        <p>{{@item.description}}</p>
        <p>Voor meer informatie klik hier</p>
    </aside>
    <main>
        <div>
          <img src={{@item.imageURL}} />
        </div>
    </main>
</div>