<main local-class="about-container">
  <div local-class="about-content-container">
    <h2 local-class="header">Anne-Greeth van Herwijnen</h2>
    <article local-class="main">
      Ik ben Anne-Greeth van Herwijnen. In het dagelijks leven werk ik als software ontwikkelaar. In mijn vrije tijd ben ik graag creatief bezig.
      Ik ben in 2019 begonnen met handletteren en heb dat uitgebreid met kaartjes maken van tijd tot tijd.
    </article>
    <sidebar local-class="sidebar">
      <img src="/images/about/profile.jpg" alt="Profile picture of me"/>
    </sidebar>
    <footer local-class="footer">
      <a href="https://github.com/minthamie"><img src="/images/about/socialmedia/github.png" alt=""/><span>@MinThaMie</span></a>
      <a href="https://twitter.com/agvanherwijnen"><img src="/images/about/socialmedia/twitter.png" alt=""/><span>@agvanherwijnen</span></a>
      <a href="https://www.instagram.com/a.g.vanherwijnen/"><img src="/images/about/socialmedia/instagram.png" alt=""/><span>@a.g.vanherwijnen</span></a>
    </footer>
  </div>
</main>
