<div local-class="nav-filter">
  <LinkTo @route="hobby.all">Alles</LinkTo><LinkTo @route="hobby.brushlettering">Brushlettering</LinkTo><LinkTo @route="hobby.fineliners">Fineliners</LinkTo>
</div>
{{outlet}}