<div local-class="index-container">
  <img src="/images/homepage-cards.png" alt="Collection of cards I've made">
  <h1>Hoi, ik ben Anne-Greeth. Ik ben graag creatief bezig met veel verschillende materialen, wat resulteert in vrolijkheid op papier.</h1>
  <p local-class="text">Met AnneGreeths bied ik jou de mogelijkheid om deze vrolijkheid in de vorm van een kaartje door te geven aan anderen.<br>
    Neem een kijkje bij mijn eerdere <LinkTo @route="work">werk</LinkTo> en neem contact op via <a href="https://www.instagram.com/anne.greeths/">Instragram</a> als jij ook zo'n mooi kaartje wilt.
  </p>
</div>