<h2>Kaartjes</h2>
<Gallery as |gl|>
    <gl.Item @title="Verjaardagskaartje walvis" @url="/images/cards/walvis-verjaardag.jpeg"/>
    <gl.Item @title="Welkom op school kaartje"  @url="/images/cards/welkom_op_school.jpeg"/>
    <gl.Item @title="Kerstkaartje"  @url="/images/cards/kerstkaartje.jpeg"/>
</Gallery>